//@font-face {
//  font-family: 'NotoSans';
//  font-style: normal;
//  font-display: swap;
//  font-weight: 100;
//  src: local('NotoSans-Thin'), url('/src/assets/fonts/NotoSans/NotoSans-Thin.ttf')  format('truetype');
//}
//@font-face {
//  font-family: 'NotoSans';
//  font-style: italic;
//  font-display: swap;
//  font-weight: 100;
//  src: local('NotoSans-ThinItalic'), url('/src/assets/fonts/NotoSans/NotoSans-ThinItalic.ttf')  format('truetype');
//}
//
//@font-face {
//  font-family: 'NotoSans';
//  font-style: normal;
//  font-display: swap;
//  font-weight: 200;
//  src: local('NotoSans-ExtraLight'), url('/src/assets/fonts/NotoSans/NotoSans-ExtraLight.ttf')  format('truetype');
//}
//@font-face {
//  font-family: 'NotoSans';
//  font-style: italic;
//  font-display: swap;
//  font-weight: 200;
//  src: local('NotoSans-ExtraLightItalic'), url('/src/assets/fonts/NotoSans/NotoSans-ExtraLightItalic.ttf')  format('truetype');
//}
//
//@font-face {
//  font-family: 'NotoSans';
//  font-style: normal;
//  font-display: swap;
//  font-weight: 300;
//  src: local('NotoSans-Light'), url('/src/assets/fonts/NotoSans/NotoSans-Light.ttf')  format('truetype');
//}
//@font-face {
//  font-family: 'NotoSans';
//  font-style: italic;
//  font-display: swap;
//  font-weight: 300;
//  src: local('NotoSans-LightItalic'), url('/src/assets/fonts/NotoSans/NotoSans-LightItalic.ttf')  format('truetype');
//}
//
@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local('NotoSans'), local('NotoSans-Regular'), url('/src/app/assets/fonts/NotoSans/NotoSans-Regular.ttf')  format('truetype');
}
//@font-face {
//  font-family: 'NotoSans';
//  font-style: italic;
//  font-display: swap;
//  font-weight: 400;
//  src: local('NotoSans-Italic'), url('/src/assets/fonts/NotoSans/NotoSans-Italic.ttf')  format('truetype');
//}
//
@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: local('NotoSans-Medium'), url('/src/app/assets/fonts/NotoSans/NotoSans-Medium.ttf')  format('truetype');
}
//@font-face {
//  font-family: 'NotoSans';
//  font-style: italic;
//  font-display: swap;
//  font-weight: 500;
//  src: local('NotoSans-MediumItalic'), url('/src/assets/fonts/NotoSans/NotoSans-MediumItalic.ttf')  format('truetype');
//}
//
//@font-face {
//  font-family: 'NotoSans';
//  font-style: normal;
//  font-display: swap;
//  font-weight: 600;
//  src: local('NotoSans-SemiBold'), url('/src/assets/fonts/NotoSans/NotoSans-SemiBold.ttf')  format('truetype');
//}
//@font-face {
//  font-family: 'NotoSans';
//  font-style: italic;
//  font-display: swap;
//  font-weight: 600;
//  src: local('NotoSans-SemiBoldItalic'), url('/src/assets/fonts/NotoSans/NotoSans-SemiBoldItalic.ttf')  format('truetype');
//}
//
//@font-face {
//  font-family: 'NotoSans';
//  font-style: normal;
//  font-display: swap;
//  font-weight: 700;
//  src: local('NotoSans-Bold'), url('/src/assets/fonts/NotoSans/NotoSans-Bold.ttf')  format('truetype');
//}
//@font-face {
//  font-family: 'NotoSans';
//  font-style: italic;
//  font-display: swap;
//  font-weight: 700;
//  src: local('NotoSans-BoldItalic'), url('/src/assets/fonts/NotoSans/NotoSans-BoldItalic.ttf')  format('truetype');
//}
//
//@font-face {
//  font-family: 'NotoSans';
//  font-style: normal;
//  font-display: swap;
//  font-weight: 800;
//  src: local('NotoSans-ExtraBold'), url('/src/assets/fonts/NotoSans/NotoSans-ExtraBold.ttf')  format('truetype');
//}
//@font-face {
//  font-family: 'NotoSans';
//  font-style: italic;
//  font-display: swap;
//  font-weight: 800;
//  src: local('NotoSans-ExtraBoldItalic'), url('/src/assets/fonts/NotoSans/NotoSans-ExtraBoldItalic.ttf')  format('truetype');
//}
//
//@font-face {
//  font-family: 'NotoSans';
//  font-style: normal;
//  font-display: swap;
//  font-weight: 900;
//  src: local('NotoSans-Black'), url('/src/assets/fonts/NotoSans/NotoSans-Black.ttf')  format('truetype');
//}
//@font-face {
//  font-family: 'NotoSans';
//  font-style: italic;
//  font-display: swap;
//  font-weight: 900;
//  src: local('NotoSans-BlackItalic'), url('/src/assets/fonts/NotoSans/NotoSans-BlackItalic.ttf')  format('truetype');
//}
